.blog-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 40px 20px;
}

.blog-list {
  padding: 0;
}

.blog-list li {
  display: flex;
  gap: 1rem;
}

.blog-list li.even {
  background-color: #ffffff;
}

.blog-list li.odd {
  background-color: #f5f5f5;
}
