.blog-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 40px 20px;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin-inline: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.blog-list li {
  margin: 0;
}

.blog-list li.even {
  background-color: #ffffff;
}

.blog-list li.odd {
  background-color: #f5f5f5;
}

.blog-list a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: #000000;
}

.blog-list a:hover {
  opacity: 0.8;
}

.blog-list time {
  flex-shrink: 0;
  font-family: serif;
}

.blog-title {
  font-family: serif;
  font-style: normal;
}
