/* Minimal print styles */
@media print {
  /* Hide browser page title and timestamp by setting margin to 0 */
  @page {
    size: auto;
    margin: 0mm;
  }

  /* Hide back button on print */
  .no-print {
    display: none !important;
  }

  /* Add some padding since we removed page margins */
  body {
    padding: 10mm;
    font-size: 10pt;
  }

  /* Decrease font sizes */
  h1 {
    font-size: 16pt !important;
  }

  h2 {
    font-size: 12pt !important;
  }

  p, li, div, span, a {
    font-size: 8pt !important;
  }
}
