/* Resume screen styles - scoped to avoid affecting other pages */
.resume-container {
  /* background-color: #eeeeee; */
  color: #222222;
  font-family: serif;
  letter-spacing: 0.02em;
  font-size: 10pt;
  padding: 20px;
  margin: 2px;
  margin-right: 20%;
  min-height: 100vh;
}

.contact-info {
  /* display: flex; */
  /* gap: 0.5rem; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* margin-bottom: 2rem; */
}

.contact-info a {
  color: #000000;
  text-decoration: underline;
}

.no-print {
  /* margin-bottom: 2rem; */
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

.no-print:hover {
  text-decoration: underline;
}


section h2 {
    font-variant: small-caps;
}

.resume-container span {
    font-style: italic;
}


section ul {
  margin-top: 0.5rem;
  padding-left: 5rem;
}

section li {
  margin-bottom: 5px;
}

section p {
  margin: 0.5rem 0;
}

section a {
  color: #000000;
  text-decoration: underline;
}

